body {
    margin: 0;
}

.logo-img {
    width: 150px;
    border-radius: 50%;
}

.hero-div {
    width: 100%;
}

#home-hero-img {
    
}

#home-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#charcuterie-board {
    grid-column: 1/4;
}

#description-text {
    grid-column: 4/6;
}

#countdown {
    grid-column: 1/3;
}

#counter-text {
    grid-column: 1/3
}

#home-tree {
    grid-column: 3/6;
}

#movie-hero-img {

}

#movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.movie-images {
    height: 300px;
    grid-column: 1/2;
}

.movie-paragraphs {
    grid-column: 2/4;
}

#traditions-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.traditions-titles {
    text-align: center;
}

#christmas-lights-p {
    grid-column: 1/3;
}

#outdoor-lights {
    grid-column: 3/6;
}

#cookies-p {
    grid-column: 1/4;
}

#cookies {
    grid-column: 4/6
}

#tree-decorating {
    grid-column: 1/3;
}

#tree-decorating-p {
    grid-column: 3/6;
}

#gift-exchange {
    grid-column: 1/3;
}

#gift-exchange-p {
    grid-column: 3/6;
}

#caroling-p {
    grid-column: 1/3;
}

#caroling {
    grid-column: 3/6;
}